


  <div class="well col-md-4 col-md-offset-4">
    <form role="search">
         <div class="form-group">
           <input type="text" class="form-control" placeholder="Search">
         </div>
         <div class='text-center'>
         <button type="submit" class="btn btn-default">Search</button>
       </div>
    </form>
  </div>

  <div id='results_search'>
      <form class="navbar-form navbar-right"role="search">
           <div class="form-group">
             <input type="text" class="form-control" placeholder="Search">
           </div>&nbsp;&nbsp;
           <div class='pull-right'>
           <button type="submit" class="btn btn-default">Search</button>
         </div>
      </form>
  </div>

  <div class='col-md-12'>

  <div id=results>

    <div class="col-md-4" id='google'>
      <h3 class='text-center'>Google</h3>
      <hr>
      <p>aasl;fk laksjdfl;akj as;fdlkja </p>
    </div>

    <div class='col-md-4' id='amazon'>
      <h3 class='text-center'>Amazon</h3>
      <hr>
      <p>aasl;fk laksjdfl;akj as;fdlkja </p>

    </div>

    <div class='col-md-4' id='ebay'>
      <h3 class='text-center'>Ebay</h3>
      <hr>
      <p>aasl;fk laksjdfl;akj as;fdlkja </p>

    </div>

  </div>


  </div>
