@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700|Pacifico|Comfortaa:400,300);

//font-family: 'Comfortaa', cursive;
//font-family: 'Pacifico', cursive;
//font-family: 'Quicksand', sans-serif;

body {
  // padding-top: 25px;
  font-family: 'Quicksand', sans-serif;
}

.brand{
  font-family: 'Pacifico', cursive;
}

.brand-container{
  float:left;
  display:none;
}

.jumbotron h1{
  font-size: 130px;
  text-align: center;
}
.jumbotron h4{
  float:right;
}
.loading-gif{
  display: none;
  width: 500px;
  height: 500px;
}
.title{
  position:fixed;
  background-color: white;
  width: 30%;
}

#amazon, #ebay, #google {
  border: solid black;
  overflow-y: scroll;
  height: 600px;
  font-family: 'Comfortaa', cursive;
}


#ebay-loading{
  display: none;
}

h3 {
  border-bottom:solid 2px black;
  padding-bottom: 3px;
}

button {
  margin-left: 8px;
}

img {
  height: 100px;
  width: 100px;
}

p:nth-child(2){
  margin: 12% 0 5%;
}
