<!DOCTYPE html>
<html>
<head>
  <title>ShopSmart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="VgM-VxHiKlYKMkckJ8TDTNaySgFhCDDijDHYffrr6lk" />
</head>
<body>
<div class="container">
  <div class='page-header'>
    <img src='cart.png' class='pull-left'>
    <h1 class='text-center'>ShopSmart</h1>
    <h3 class='text-center'><em>Your online shopping buddy</em></h3>
  </div>


<%= yield %>
</div>
</body>
</html>
