<!DOCTYPE html>
<html>
<head>
  <title>ShopSmart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="VgM-VxHiKlYKMkckJ8TDTNaySgFhCDDijDHYffrr6lk" />
</head>
<body>
  <div class="brand-container">
    <h1 class="brand">ShopSmart</h1>
  </div>
  <!-- <nav class="navbar navbar-inverse">

    <h4><em>Your online shopping buddy</em></h4>

  </nav> -->
<div class="container">


<%= yield %>
</div>
</body>
</html>
