<!DOCTYPE html>
<html>
<head>
  <title>ShopSmart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="VgM-VxHiKlYKMkckJ8TDTNaySgFhCDDijDHYffrr6lk" />
</head>
<body>
<div class="container">


<%= yield %>
</div>
</body>
</html>
